<section id="top_category">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section group">
          <div class="col span_1_of_5">
            <div class="category_items">
              <a href="#">
                <img src="images/icon6.png" class="img-responsive center-block" alt="..">
                <h3>Software Engineer</h3>
              </a>
              <ul>
                <li><a href="#">Backend Engineer,</a></li>
                <li><a href="#">Data Engineer,</a></li>
                <li><a href="#">Database Administrator,</a></li>
                <li><a href="#">DevOps Engineer,</a></li>
                <li><a href="#">Frontend Engineer,</a></li>
                <li><a href="#">Full Stack Engineer,</a></li>
                <li><a href="#">Mobile Engineer,</a></li>
                <li><a href="#">QA/Test Engineer</a></li>
              </ul>
            </div>
          </div>
          <div class="col span_1_of_5">
            <div class="category_items">
              <a href="#">
                <img src="images/icon7.png" class="img-responsive center-block" alt="..">
                <h3>Finance</h3>
              </a>
              <ul>
                <li><a href="#">Accounting,</a></li>
                <li><a href="#">Financial Management,</a></li>
                <li><a href="#">General Management,</a></li>
                <li><a href="#">Office Administration</a></li>
              </ul>
            </div>
          </div>
          <div class="col span_1_of_5">
            <div class="category_items">
              <a href="#">
                <img src="images/icon8.png" class="img-responsive center-block" alt="..">
                <h3>Design</h3>
              </a>
              <ul>
                <li><a href="#">Graphic Designer,</a></li>
                <li><a href="#">Product Designer,</a></li>
                <li><a href="#">UX Designer,</a></li>
                <li><a href="#">UX Researcher,</a></li>
                <li><a href="#">Visual / UI Designer,</a></li>
                <li><a href="#">Enviornmental Designer</a></li>
              </ul>
            </div>
          </div>
          <div class="col span_1_of_5">
            <div class="category_items">
              <a href="#">
                <img src="images/icon9.png" class="img-responsive center-block" alt="..">
                <h3>Marketing</h3>
              </a>
              <ul>
                <li><a href="#">Acquisition Marketing,</a></li>
                <li><a href="#">Brand Marketing,</a></li>
                <li><a href="#">Content Marketing,</a></li>
                <li><a href="#">Email Marketing,</a></li>
                <li><a href="#">Marketing Analytics,</a></li>
                <li><a href="#">Public Relations,</a></li>
                <li><a href="#">Communication,</a></li>
                <li><a href="#">Product Marketing</a></li>
              </ul>
            </div>
          </div>
          <div class="col span_1_of_5">
            <div class="category_items">
              <a href="#">
                <img src="images/icon10.png" class="img-responsive center-block" alt="..">
                <h3>Other</h3>
              </a>
              <ul>
                <li><a href="#">Healthcare,</a></li>
                <li><a href="#">Dentistry,</a></li>
                <li><a href="#">Pharmacy,</a></li>
                <li><a href="#">Entrepreneurship,</a></li>
                <li><a href="#">ActuaryScientist</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="soft"><!-- start soft section -->
  <div class="container">
    <div id="mytabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <div class="come_here"></div>
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Best Match</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lowest Rate</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Distance</a></li>
        <li class="pull-right go_there"><input type="text" class="search_controll" placeholder="Search Company or Universities"></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div id="ajax-panel"></div>
          <div class="blog-section">

          </div>
          <div class="row space30">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <button type="button" class="morebtn">More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- end collapsed -->
<div class="modal fade set-up-modal" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="pop-up bg-none">
            <form class="login-form">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email address">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pswd" placeholder="Password">
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="checkbox">
                    <label><input type="checkbox" value="">Remember me</label>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="text-right">
                    <a href="#" class="text-sky">Forgot password ?</a>
                  </div>
                </div>
              </div>
              <div>
                <a href="#" class="btn btn-login">Log in</a>
              </div>
              <img src="images/or.png" class="img-responsive center-block space15" alt="..">
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-linkdin"><i class="fa fa-linkedin space2" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; Log in with Linkdin</a>
              </div>
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-fb"><i class="fa fa-facebook space2" aria-hidden="true"></i> &nbsp; &nbsp; Log in with Facebook</a>
              </div>
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-google"><i class="fa fa-google space2" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; Log in with google</a>
              </div>
              <div class="space15"></div>
              <div class="bd-line">

              </div>
              <p class="space15 text-left">Don't have an account? <span><a href="#" class="text-sky f800">Sign up</a></span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade set-up-modal" id="myModal111" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="pop-up bg-none">
            <!-- <button type="button" class="close" data-dismiss="modal"><img src="images/Rectangle-arrondi-8-copie.png"></button> -->
            <form class="login-form">
              <div class="form-group">
                <input type="text" class="form-control" id="fnm" placeholder="First name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="lnm" placeholder="Last name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email address">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pswd" placeholder="Password">
              </div>
              <p class="text-left">Your password must contain at least 8 characters, one capital letter and one numbers.</p>
              <hr>
              <div class="form-group">
                <div class="radio">
                  <label><input type="radio" class="userType" name="userType" value="1" checked>I am looking for a mentor.</label>
                </div>
                <div class="radio">
                  <label><input type="radio" class="userType" name="userType" value="2">I am a mentor.</label>
                </div>
              </div>
              <div>
                <a href="#" class="btn btn-login">Sign up</a>
              </div>
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-linkdin"><i class="fa fa-linkedin space2" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; Sign up with Linkdin</a>
              </div>
              <div class="space15"></div>
              <p class="space15 text-left">By signing up,I agree to In-sight's <span><a href="#" class="text-sky f800">Terms of services </a>  and <a href="#" class="text-sky f800"> Privacy Policy </a></span></p>
              <img src="images/or.png" class="img-responsive center-block space15" alt="..">
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-fb"><i class="fa fa-facebook space2" aria-hidden="true"></i> &nbsp; &nbsp; Sign up with Facebook</a>
              </div>
              <div class="space15"></div>
              <div>
                <a href="#" class="btn btn-google"><i class="fa fa-google space2" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; Sign up with google</a>
              </div>
              <div class="space15"></div>
              <div class="bd-line">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <p class="fsize18">Subscribe to Get Updates and Career Tips!</p>
          <div class="space20"></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-2"></div>
          <div class="col-md-4 col-sm-8">

            <div class="input-group">
              <input type="text" class="form-control form_control text-center" placeholder="Enter Your E-mail">
              <span class="input-group-btn">
                    <button class="submit_btn" type="button">Submit</button>
                  </span>
            </div>
            <div class="space70 hidden-xs"></div>
            <div class="space30 visible-xs"></div>
            <ul class="list-inline">
              <li><a href="#"><div class="cirlce"><i class="fa fa-facebook social"></i></div></a></li>
              <li><a href="#"><div class="cirlce"><i class="fa fa-linkedin social"></i></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        if($(window).width() < 767) {
            $(".go_there").prependTo($(".come_here"));
        }
    });
</script>
<script type="text/javascript">
    $(".morebtn").click(function(){
        $(".more_items3").toggle(500);
    });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var category = $(this).text();
    var lastChar = category[category.length -1];
    if(lastChar == ",") {
      category = category.substring(0, category.length - 1);
    }
    $.ajax({
      type: 'POST',
      url: '/api/get_mentors',
      data: { field: category },
      beforeSend:function(){
        $('#ajax-panel').html('<div class="loading"><img src="/images/squares.svg" alt="Loading..." /></div>');
      },
      success:function(data){
        $('#ajax-panel').empty();
        $('.blog-section').empty();
        renderMentors(data);
      },
      error:function(){
        $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
      }
    });
  });

  $('.category_items a').click(function(){
    var category = $(this).text();
    var lastChar = category[category.length -1];
    if(lastChar == ",") {
      category = category.substring(0, category.length - 1);
    }
    $.ajax({
      type: 'POST',
      url: '/api/get_mentors',
      data: { field: category },
      beforeSend:function(){
        $('#ajax-panel').html('<div class="loading"><img src="/images/squares.svg" alt="Loading..." /></div>');
      },
      success:function(data){
        $('#ajax-panel').empty();
        $('.blog-section').empty();
        renderMentors(data);
      },
      error:function(){
        $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
      }
    });
  });

  $('.search_controll').keyup(function(){
    var field = $('.search_controll').val();
    if(field.length > 3) {
      $.ajax({
        type: 'POST',
        url: '/api/get_mentors',
        data: { field: field },
        beforeSend:function(){
          $('#ajax-panel').html('<div class="loading"><img src="/images/squares.svg" alt="Loading..." /></div>');
        },
        success:function(data){
          $('#ajax-panel').empty();
          $('.blog-section').empty();
          renderMentors(data);
        },
        error:function(){
          $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
        }
      });
    }
  });

  function renderMentors(mentors){
    $(mentors.users).each(function(i){
      console.log(mentors)
      var $sectionContainer = $('<div class="blog"></div>');
      var $row = $('<div class="row"><div>');
      var $col1 = $('<div class="col-md-3 col-sm-3 pad0"><div>');
      var $col2 = $('<div class="col-md-6 col-sm-6"></div>');
      var $col3 = $('<div class="col-md-3 col-sm-3"></div>')
      var $subContainer = $('<div class="blog-contain"></div>');
      var $blogBtn = $('<div class="blog-btn"><div>');
      var $starreting = $('<ul class="list-inline starreting"></ul>');

      if(this.dp)
        $col1.append('<a href="#"><img src="' + this.dp + '" class="img-responsive center-block" alt=".."></a>')
      else
        $col1.append('<a href="#"><img src="images/person-placeholder.jpg" class="img-responsive center-block" alt=".."></a>');

      $subContainer.append('<h3>' +  this.current_title + '<a href="#"><span>@' + this.current_company +' </span></a> </h3>');
      $subContainer.append('<h4> ' + this.location + ' </h4><p> ' + this.headline + ' </p>');
      $col2.append($subContainer);

      $blogBtn.append('<a href="/schedule?id=' + this.id + '" class="btn btn-grn1">Schedule</a>');
      $starreting.append('<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>');
      $blogBtn.append($starreting);
      $blogBtn.append('<p class="space15 blog-txt2"><a href="#"><img src="images/phone.png" class="space2" alt=".."> 172 Calls</a></p>');
      $col3.append($blogBtn);

      $row.append($col1);
      $row.append($col2);
      $row.append($col3);
      $sectionContainer.append($row);
      $('.blog-section').append($sectionContainer);
    });
  }
</script>
