<section id="banner" class="">
  <div class="banner ">
    <div class="banner2">


      <div class="container ">
        <div class="row">

          <div class="col-md-6 col-sm-8">

            <div>
              <p class="p_header">Personalized Career<br class="visible-xs visible-sm">  Advice</p>
              <div class="space40 hidden-xs"></div>
              <div class="space10 visible-xs"></div>
              <p class="p1">Get valuable career guidance from<br class="visible-xs">
                experienced working professionals.</p>
              <div class="space30 hidden-xs"></div>
              <div class="space10 visible-xs"></div>
              <a class="btn btn_advise" href="/schedule"><b>Advise me</b></a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSenyw6QbxL7MEucM6-yW7jTPqVktSh8_eSYLYj7zz8AqU5fUA/viewform?embedded=true" target="_blank"><button class="btn btn_1 marg_left">Become a mentor</button></a><br>
              <div class="space10"></div>
              <div class="row text-center">
                <div class="col-md-4 col-sm-5 col-xs-6">
                  <a href="#" class="link_a">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="marg_top">
          <img src="images/img1.png" class="center-block img-responsive">
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="space30 visible-xs visible-sm"></div>
        <div class="media">
          <div class="pull-left line">
            <img src="images/icon1.png" class="center-block img-responsive img_width ">
          </div>
          <div class="media-body">
            <div class="media_body"><p class="media_p p_margin1">Get 1-on-1 career guidance with experienced working professionals in the field of your interest.</p></div>
          </div>
        </div>
        <div class="space50 hidden-xs"></div>
        <div class="media">
          <div class="pull-left line">
            <img src="images/icon2.png" class="center-block img-responsive img_width ">
          </div>
          <div class="media-body">
            <div class="media_body"><p  class="media_p p_margin1">Conversation with your mentor in real time via video, voice, or text. </p></div>
          </div>
        </div>
        <div class="space50 hidden-xs"></div>
        <div class="media">
          <div class="pull-left">
            <img src="images/icon3.png" class="center-block img-responsive img_width">
          </div>
          <div class="media-body">
            <div class="media_body"> <p  class="media_p p_margin2">Map out the best path to kick start your career with
              the help of our experts, who has already “been there
              and done that”.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="team">
    <div class="container">
      <div class="row text-center">

        <div class="col-md-4 col-sm-4">
          <div class="paddlr">
            <a href="#" class="whiteclr fsize26"><b>Software Engineer</b></a>
            <div class="border_white"></div>
            <p class="whiteclr fsize20">627 mentors</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="paddlr">
            <a href="#" class="whiteclr fsize26"><b>User Experience</b></a>
            <div class="border_white"></div>
            <p class="whiteclr fsize20">288 mentors</p>
          </div>

        </div>
        <div class="col-md-4 col-sm-4">
          <div class="paddlr">
            <a href="#" class="whiteclr fsize26"><b>Business Management </b></a>
            <div class="border_white"></div>
            <p class="whiteclr fsize20">195 mentors</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<section id="mentors_view">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="mentors_title">
          <h2>Featured Mentors</h2>
          <p class="p_tag">Just a few of the daily heroes on our site</p>
        </div>

        <div class="mentors_slider space80">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <div class="carousel-inner" role="listbox">

            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span aria-hidden="true">
                    <img src="images/left.png" class="img-responsive" alt="..">
                  </span>

            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span aria-hidden="true">
                     <img src="images/right.png" class="img-responsive" alt="..">
                  </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="mobile_app">
  <div class="app_table">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div>
            <div class="space100 hidden-xs"></div>
            <img src="images/logo2.png" class="img-responsive hidden-xs logo1">
            <img src="images/logo2.png" class="img-responsive center-block visible-xs logo">
            <div class="space10 visible-xs"></div>
            <div class="space70 hidden-xs"></div>
            <p class="p1 txt_center">Connect to a mentor and start your journey today.</p>
            <div class="space70 hidden-xs"></div>
            <div class="space10 visible-xs"></div>
            <p class="p_download txt_center"><b>Download the app</b></p>
            <div class="space10"></div>
            <a href="#"> <img src="images/appbuton.png" class="img-responsive hidden-xs app_button"></a>
            <a href="#"> <img src="images/appbuton.png" class="img-responsive center-block apple visible-xs"></a>

          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div>
            <img src="images/iphone.png" class="img-responsive center-block iphone img_width3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <p class="fsize18">Subscribe to Get Updates and Career Tips!</p>
          <div class="space20"></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-2"></div>
          <div class="col-md-4 col-sm-8">
            <input type="text" class="form-control form_control text-center" placeholder="Enter Your E-mail">
            <div class="space70 hidden-xs"></div>
            <div class="space30 visible-xs"></div>
            <ul class="list-inline">
              <li><a href="#"><div class="cirlce"><i class="fa fa-facebook social"></i></div></a></li>
              <li><a href="#"><div class="cirlce"><i class="fa fa-linkedin social"></i></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(document).ready(function(){

});
function renderCarousel(){
<div class="item active">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="slide-img">
<a href="#"><img src="images/mentor1.png" class="img-responsive center-block img_width2" alt=".."></a>
<div class="space50 hidden-xs"></div>
<div class="space20 visible-xs"></div>
<div class="caption">
<p class="p_tag2">Liam Greene</p>
<p class="p_tag3">Software Developer @ <a href="#" class="color1">Google</a></p>
<div class="space20 hidden-xs"></div>
<div class="space10 visible-xs"></div>
<p class="p_tag3">“I strive to better myself as a<br class="hidden-sm"> developer, and the develop-<br class="hidden-sm">ment community as a whole.”</p>
</div>
<button class="btn btn_schedule">Schedule</button>
</div>
</div>
}
function loadStats(){
  
}
</script>
